<main>
    <section id="carousel-section">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="palword">
              </div>
              <div class="carousel-item img2">
                <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="red dead redemption 2">
              </div>
              <div class="carousel-item img3">
                <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="gta v">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <h2>Lista de Jogos</h2>
    
    <section class="container d-flex justify-content-center gapcss">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Jogo do Mês</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="./assets/img/jogo1.PNG" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lore Ipsum.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>R$ 199,00</button>
        <button mat-button class="green">Comprar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Jogo do Mês</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="./assets/img/jogo2.PNG" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lore Ipsum.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>R$ 199,00</button>
        <button mat-button class="green">Comprar</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Jogo do Mês</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="./assets/img/jogo3.PNG" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lore Ipsum.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>R$ 199,00</button>
        <button mat-button class="green">Comprar</button>
      </mat-card-actions>
    </mat-card>
    

    </section>
      
</main>